.SquareButton {
    background-color: #6658f5;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    padding: 1.2rem 1.5rem;
    /* border-radius: 50px; */
}

.SquareButton:hover {
    background-color: #5c4ef2;
}