.GreyBtn {
    background-color: #fcfbf9;
    color: #595b5a;
    font-weight: bold;
    /* font-size: 1rem; */
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    padding: .8rem 2rem;
    border-radius: 50px;
}

.GreyBtn:hover {
    background-color: whitesmoke;
}