.mainNavbar span {
    color: #453d3a;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 14px;
    vertical-align: middle;
}

.mainNavbar div {
    display: inline-block;
    margin-left: 1rem;
    /* margin-top: 2rem; */
    margin-right: 1rem;
}