.mainNavbar span {
    color: #453d3a;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 14px;
    vertical-align: middle;
}

.mainNavbar span:hover {
    color: #7e7876;
}

.mainNavbar > a {
    text-decoration: none;
}

.mainNavbar div {
    display: inline-block;
    /* margin-left: 1rem; */
    /* margin-top: 2rem; */
    margin-right: 1rem;
}